<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/css/background.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-900 text-white">
    <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <!-- User login form -->
    <div class="flex justify-center items-center h-screen">
        <div class="w-full max-w-sm bg-white rounded-lg shadow-md p-8">
            <h2 class="text-black text-2xl font-bold mb-6 text-center">User Login</h2>
            <!-- Thymeleaf form with binding -->
            <form th:action="@{/users/login}" th:object="${userCred}" method="post">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                    <input th:field="*{email}"
                           class="text-black w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                           type="email" id="email" placeholder="Enter your Email" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Username</label>
                    <input th:field="*{name}"
                           class="text-black w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                           type="text" id="name" placeholder="Enter your Username" required>
                </div>
            
                <div class="mb-6">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                    <input th:field="*{password}"
                           class="text-black w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                           type="password" id="password" placeholder="Enter your password" required>
                </div>
                <div class="flex items-center justify-between">
                    <button
                            class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                            type="submit">Login</button>
                </div>
            </form>
            <p th:text="${error}" class="text-red-500 text-center mt-4"></p> <!-- Error message -->
            
            </div>
    </div>
</body>

</html>
